@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy for RideSharingSystem <br />

    Effective Date: 2025-01-29 <br />

    We collect personal information such as your name, phone number, email, payment details, and location data to match riders with drivers,
    process payments, and improve our services. Drivers can see a rider’s name and pick-up/drop-off locations, while riders can see the driver’s name, 
    photo, vehicle details, and location during trips. We may share information with trusted service providers for payments, customer support, or legal 
    requirements. You can update or delete your data, opt out of marketing, and control privacy settings in the app. We use security measures to protect 
    your data, but no system is completely secure. This policy may be updated, and we will notify you of significant changes. For questions, contact us
    at xxx@gmail.com or 9800000000.
</p>
